<!--
  gere l'affichage de chaque "ligne" de post
  contient donc uniquement ce qui définit 1 post
-->

<div [ngClass]="{ 'container-post-content':true,
                    'liked':likeCompute>0,
                    'unliked':likeCompute<0}">
  <div class="post-header">
    <div class="title"><h4>sujet : </h4>{{titre}}</div>
    <div class="date">date {{date | date:'short'}}</div>
  </div>
  <div class="post-content">
    <h3>contenu du post :</h3>
    {{contenu}}
  </div>
  <button (click)="onLike()">like</button>
  <button (click)="onUnlike()">dont like</button>
  <!--<span>{{likeCompute}}</span>-->
</div>
