.container-post-content{
    border: groove;
    box-shadow: 5px 5px 5px grey;
    border-radius: 5px;
    margin: 10px 20px;
}

.liked{
    background-color: rgba(100, 200, 100, 0.6)
}

.unliked{
    background-color: rgba(200, 100, 100, 0.6)
}

.post-content{
    margin : 30px 20px;
}

.post-header{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin: 5px;
    background-color: rgba(220, 220, 220, 0.3);
}

.title{
    text-align: left;
    width: auto;
    margin-left: 20px;
   }

.date{
    text-align: right;
    width: auto;
}

h4{
    display: inline;
    font-style: bold;
}